In [1]:
from sklearn.datasets import fetch_openml
from sklearn.preprocessing import OrdinalEncoder

In [12]:
data = fetch_openml('car', as_frame=True).frame

/Users/muhammadhassansaleem/Documents/ml-frameworks/.venv/lib/python3.13/site-packages/sklearn/datasets/_openml.py:328: UserWarning: Multiple active versions of the dataset matching the name car exist. Versions may be fundamentally different, returning version 2. Available versions:
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=991
- version 3, status: active
  url: https://www.openml.org/search?type=data&id=40975

  warn(warning_msg)

In [13]:
data

     buying  maint  doors persons lug_boot safety binaryClass
0     vhigh  vhigh      2       2    small    low           P
1     vhigh  vhigh      2       2    small    med           P
2     vhigh  vhigh      2       2    small   high           P
3     vhigh  vhigh      2       2      med    low           P
4     vhigh  vhigh      2       2      med    med           P
...     ...    ...    ...     ...      ...    ...         ...
1723    low    low  5more    more      med    med           N
1724    low    low  5more    more      med   high           N
1725    low    low  5more    more      big    low           P
1726    low    low  5more    more      big    med           N
1727    low    low  5more    more      big   high           N

[1728 rows x 7 columns]

In [14]:
columms_to_encode = ['lug_boot', 'safety']

encoder = OrdinalEncoder(
    categories=[['big', 'med', 'small'], ['high', 'med', 'low']]
)

data[columms_to_encode] = encoder.fit_transform(data[columms_to_encode])

In [17]:
data

     buying  maint  doors persons  lug_boot  safety binaryClass
0     vhigh  vhigh      2       2       2.0     2.0           P
1     vhigh  vhigh      2       2       2.0     1.0           P
2     vhigh  vhigh      2       2       2.0     0.0           P
3     vhigh  vhigh      2       2       1.0     2.0           P
4     vhigh  vhigh      2       2       1.0     1.0           P
...     ...    ...    ...     ...       ...     ...         ...
1723    low    low  5more    more       1.0     1.0           N
1724    low    low  5more    more       1.0     0.0           N
1725    low    low  5more    more       0.0     2.0           P
1726    low    low  5more    more       0.0     1.0           N
1727    low    low  5more    more       0.0     0.0           N

[1728 rows x 7 columns]

In [19]:
encoder.inverse_transform(data[columms_to_encode])

array([['small', 'low'],
       ['small', 'med'],
       ['small', 'high'],
       ...,
       ['big', 'low'],
       ['big', 'med'],
       ['big', 'high']], shape=(1728, 2), dtype=object)

In [21]:
data_2 = fetch_openml('adult' ,as_frame=True).frame
data_2

/Users/muhammadhassansaleem/Documents/ml-frameworks/.venv/lib/python3.13/site-packages/sklearn/datasets/_openml.py:328: UserWarning: Multiple active versions of the dataset matching the name adult exist. Versions may be fundamentally different, returning version 1. Available versions:
- version 1, status: active
  url: https://www.openml.org/search?type=data&id=179
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=1590

  warn(warning_msg)

      age         workclass  fnlwgt  ... hoursperweek  native-country  class
0       2         State-gov   77516  ...            2   United-States  <=50K
1       3  Self-emp-not-inc   83311  ...            0   United-States  <=50K
2       2           Private  215646  ...            2   United-States  <=50K
3       3           Private  234721  ...            2   United-States  <=50K
4       1           Private  338409  ...            2            Cuba  <=50K
...    ..               ...     ...  ...          ...             ...    ...
48837   2           Private  215419  ...            2   United-States  <=50K
48838   4               NaN  321403  ...            2   United-States  <=50K
48839   2           Private  374983  ...            3   United-States  <=50K
48840   2           Private   83891  ...            2   United-States  <=50K
48841   1      Self-emp-inc  182148  ...            3   United-States   >50K

[48842 rows x 15 columns]

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [24]:
data_2.occupation.value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [25]:
import pandas as pd

encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

encoded_values = encoder.fit_transform(data_2[['occupation', 'race']])
new_cols =  encoder.get_feature_names_out(['occupation','race'])

In [26]:
new_cols

array(['occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'occupation_nan', 'race_Amer-Indian-Eskimo',
       'race_Asian-Pac-Islander', 'race_Black', 'race_Other',
       'race_White'], dtype=object)

In [27]:
df_encoded = pd.DataFrame(encoded_values, columns=new_cols, index=data_2.index)
data_final = pd.concat(
    [data_2.drop(columns=['occupation' , 'race']), df_encoded]  , axis=1 
)

In [28]:
data_final

      age         workclass  fnlwgt  ... race_Black  race_Other race_White
0       2         State-gov   77516  ...        0.0         0.0        1.0
1       3  Self-emp-not-inc   83311  ...        0.0         0.0        1.0
2       2           Private  215646  ...        0.0         0.0        1.0
3       3           Private  234721  ...        1.0         0.0        0.0
4       1           Private  338409  ...        1.0         0.0        0.0
...    ..               ...     ...  ...        ...         ...        ...
48837   2           Private  215419  ...        0.0         0.0        1.0
48838   4               NaN  321403  ...        1.0         0.0        0.0
48839   2           Private  374983  ...        0.0         0.0        1.0
48840   2           Private   83891  ...        0.0         0.0        0.0
48841   1      Self-emp-inc  182148  ...        0.0         0.0        1.0

[48842 rows x 33 columns]